In [ ]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
# !pip install requests==2.26.0

In [ ]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML.  We can navigate the HTML as a tree and/or filter out what we are looking for.

Consider the following HTML:

In [ ]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [ ]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [ ]:
soup = BeautifulSoup(html, "html.parser")

In [ ]:
print(soup.prettify())

In [ ]:
tag_object=soup.title
print("tag object:",tag_object)

In [ ]:
print("tag object type:",type(tag_object))

In [ ]:
tag_object=soup.h3
tag_object

In [ ]:
tag_child =tag_object.b
tag_childparent_tag=tag_child.parent
parent_tag

In [ ]:
tag_object

In [ ]:
tag_object.parent

In [ ]:
sibling_1=tag_object.next_sibling
sibling_1

In [ ]:
sibling_2=sibling_1.next_sibling
sibling_2

In [ ]:
sibling_2.next_sibling

In [ ]:
tag_child['id']

In [ ]:
tag_child.attrs

In [ ]:
tag_child.get('id')

In [ ]:
tag_string=tag_child.string
tag_string

In [ ]:
type(tag_string)

In [ ]:
type(tag_string)

In [ ]:
unicode_string = str(tag_string)
unicode_string

In [ ]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [ ]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [ ]:
table_bs = BeautifulSoup(table, "html.parser")

In [ ]:
table_rows=table_bs.find_all('tr')
table_rows

In [ ]:
first_row =table_rows[0]
first_row

In [ ]:
print(type(first_row))

In [ ]:
first_row.td

In [ ]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

In [ ]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

In [ ]:
list_input=table_bs .find_all(name=["tr", "td"])

In [ ]:
list_input

### Attributes

In [ ]:
table_bs.find_all(id="flight")

In [ ]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

In [ ]:
table_bs.find_all(href=True)

In [ ]:
#Find all the elements without href value
table_bs.find_all(href=False)

In [ ]:
#Using the soup object soup, find the element with the id attribute content set to "bolest"
soup.find_all(id="boldest")

In [ ]:
#With string you can search for strings instead of tags, where we find all the elements with Florida
table_bs.find_all(string="Florida")

In [ ]:
#Find_all() method scans the entire document looking for results
#It's used if you are looking for one element you can use the find() method to find the first element in the document. Consider the following table?
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [ ]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [ ]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [ ]:
two_tables_bs.find("table")

### Downloading and scraping the contents of a web page

In [3]:
url = "http://www.ibm.com"

In [ ]:
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

In [ ]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

### Scrape all images tags

In [ ]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

### Scrape data from HTML tales

In [ ]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [ ]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html.parser")

In [ ]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [ ]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

### Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [ ]:
import pandas as pd

In [ ]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

In [ ]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html.parser")

In [ ]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [ ]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

In [ ]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

In [ ]:
print(tables[table_index].prettify())

In [ ]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

### Scrape data from HTML tables into a DataFrame using read_html

In [ ]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [ ]:
len(dataframe_list)

In [ ]:
dataframe_list[5]

In [ ]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]