In [8]:
import pandas as pd
import numpy as np

In [7]:
#Creating a DataFrame by passing a dictionary to a DataFrame constructor
df = pd.DataFrame({'col_1':[500, 1000], 'col_2':[400, 600]})
print(df)

   col_1  col_2
0    500    400
1   1000    600

In [10]:
#Create a DataFrame by using numpy's random.rand function
df = pd.DataFrame(np.random.rand(4, 8))
print(df)

,0,1,2,3,4,5,6,7
0,0.831359,0.106303,0.430581,0.825111,0.095216,0.580381,0.114925,0.764926
1,0.773204,0.699857,0.319252,0.651210,0.103825,0.748889,0.625980,0.027696
2,0.446056,0.724878,0.395726,0.983540,0.581888,0.489871,0.811567,0.512799
3,0.478376,0.231732,0.955337,0.224558,0.572255,0.422091,0.785012,0.120119

In [11]:
#If you want column names, you can create a string of letters and pass the list to your columns parameter
df = pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))
print(df)

          a         b         c         d         e         f         g
0  0.544385  0.013838  0.644165  0.632581  0.372304  0.726185  0.030222  \
1  0.106738  0.065520  0.622356  0.373396  0.408558  0.470096  0.997476
2  0.215811  0.608472  0.811934  0.094126  0.545757  0.222676  0.445910
3  0.236217  0.167643  0.744222  0.128877  0.016859  0.249523  0.407487

          h
0  0.571813
1  0.520805
2  0.345024
3  0.477158

In [16]:
print(df)

          a         b         c         d         e         f         g
0  0.544385  0.013838  0.644165  0.632581  0.372304  0.726185  0.030222  \
1  0.106738  0.065520  0.622356  0.373396  0.408558  0.470096  0.997476
2  0.215811  0.608472  0.811934  0.094126  0.545757  0.222676  0.445910
3  0.236217  0.167643  0.744222  0.128877  0.016859  0.249523  0.407487

          h
0  0.571813
1  0.520805
2  0.345024
3  0.477158

In [17]:
#Reversing the order of the DataFrame
df.loc[::-1].head()

,a,b,c,d,e,f,g,h
3,0.236217,0.167643,0.744222,0.128877,0.016859,0.249523,0.407487,0.477158
2,0.215811,0.608472,0.811934,0.094126,0.545757,0.222676,0.445910,0.345024
1,0.106738,0.065520,0.622356,0.373396,0.408558,0.470096,0.997476,0.520805
0,0.544385,0.013838,0.644165,0.632581,0.372304,0.726185,0.030222,0.571813

In [18]:
#Reversing the order of the DF and resettin the index
df.loc[::-1].reset_index(drop=True).head()

,a,b,c,d,e,f,g,h
0,0.236217,0.167643,0.744222,0.128877,0.016859,0.249523,0.407487,0.477158
1,0.215811,0.608472,0.811934,0.094126,0.545757,0.222676,0.445910,0.345024
2,0.106738,0.065520,0.622356,0.373396,0.408558,0.470096,0.997476,0.520805
3,0.544385,0.013838,0.644165,0.632581,0.372304,0.726185,0.030222,0.571813

In [19]:
#Reversing the order of the columns
df.loc[:, ::-1].head()

,h,g,f,e,d,c,b,a
0,0.571813,0.030222,0.726185,0.372304,0.632581,0.644165,0.013838,0.544385
1,0.520805,0.997476,0.470096,0.408558,0.373396,0.622356,0.065520,0.106738
2,0.345024,0.445910,0.222676,0.545757,0.094126,0.811934,0.608472,0.215811
3,0.477158,0.407487,0.249523,0.016859,0.128877,0.744222,0.167643,0.236217

In [20]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
e    float64
f    float64
g    float64
h    float64
dtype: object

In [21]:
#Selecting data based on dtypes
df.select_dtypes(include='number').head()

,a,b,c,d,e,f,g,h
0,0.544385,0.013838,0.644165,0.632581,0.372304,0.726185,0.030222,0.571813
1,0.106738,0.065520,0.622356,0.373396,0.408558,0.470096,0.997476,0.520805
2,0.215811,0.608472,0.811934,0.094126,0.545757,0.222676,0.445910,0.345024
3,0.236217,0.167643,0.744222,0.128877,0.016859,0.249523,0.407487,0.477158

In [22]:
#Selecting data based on dtypes
df.select_dtypes(include=['number', 'object']).head()

,a,b,c,d,e,f,g,h
0,0.544385,0.013838,0.644165,0.632581,0.372304,0.726185,0.030222,0.571813
1,0.106738,0.065520,0.622356,0.373396,0.408558,0.470096,0.997476,0.520805
2,0.215811,0.608472,0.811934,0.094126,0.545757,0.222676,0.445910,0.345024
3,0.236217,0.167643,0.744222,0.128877,0.016859,0.249523,0.407487,0.477158

In [23]:
#Selecting data based on dtypes
df.select_dtypes(exclude='object').head()

,a,b,c,d,e,f,g,h
0,0.544385,0.013838,0.644165,0.632581,0.372304,0.726185,0.030222,0.571813
1,0.106738,0.065520,0.622356,0.373396,0.408558,0.470096,0.997476,0.520805
2,0.215811,0.608472,0.811934,0.094126,0.545757,0.222676,0.445910,0.345024
3,0.236217,0.167643,0.744222,0.128877,0.016859,0.249523,0.407487,0.477158

In [27]:
#Creating a sample dataframe
df = pd.DataFrame({'col_one':['1.5', '2.5', '3.5'],
                   'col_two':['4.5', '5.5', '7.5'],
                   'col_three':['7.5', '8.5', '9.5']})
print(df)

  col_one col_two col_three
0     1.5     4.5       7.5
1     2.5     5.5       8.5
2     3.5     7.5       9.5

In [28]:
df.dtypes

col_one      object
col_two      object
col_three    object
dtype: object

In [29]:
#Converting data types from object ie string to float
df.astype({'col_one':'float', 'col_two':'float', 'col_three':'float'}).dtypes

col_one      float64
col_two      float64
col_three    float64
dtype: object