In [3]:
import pandas as pd

#Create a sample DataFrame
data = {'Name': ['Brent', 'Sean', 'Sunny'],
        'Age': [31, 32, 33],
        'Salary': [100000, 120000, 150000]
       }
                   
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0  Brent   31  100000
1   Sean   32  120000
2  Sunny   33  150000

In [4]:
#Define a function to double the salary
def double_salary(salary):
    return salary*2

#Apply the function to the 'Salary' column
df['DoubleSalary'] = df['Salary'].apply(double_salary)

print(df)

    Name  Age  Salary  DoubleSalary
0  Brent   31  100000        200000
1   Sean   32  120000        240000
2  Sunny   33  150000        300000

In [11]:
#Defining a function with multiple arguments

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Salary': [50000, 60000, 70000],
        'Bonus': [2000, 3000, 4000]}

df = pd.DataFrame(data)
print(df)

      Name  Salary  Bonus
0    Alice   50000   2000
1      Bob   60000   3000
2  Charlie   70000   4000

In [10]:
# Define a function to calculate total annual compensation
def calculate_total_compensation(salary, bonus):
    return salary + bonus

# Apply the function to the 'Salary' and 'Bonus' columns
df['TotalCompensation'] = df.apply(lambda row: calculate_total_compensation(row['Salary'], row['Bonus']), axis=1)

print(df)

      Name  Salary  Bonus  TotalCompensation
0    Alice   50000   2000              52000
1      Bob   60000   3000              63000
2  Charlie   70000   4000              74000